h1{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
    text-align: center;
}
li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;

   
}
.one ul{
    padding: 0px 25px 0px 130px;
}
dd{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
  
}
dt{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
  
}
dl{
   
    padding: 5px 25px 0px 330px;
}
.main p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    padding: 0px 50px;
}
.one{
    display: flex;
}
.one ul li{
    
    list-style: none;
}

.one ul li a{
    text-decoration: none;
    color: rgb(89, 36, 114);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}